.main {
    width: 100%;
    background-color: #22376C;
    padding: 32px 0;
  
    @media (max-width: 768px) {
      padding: 16px 0; // Reduced padding for mobile
    }
  }
  
  .header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  
    .logo_part {
      width: 50px;
      height: 50px;
  
      img {
        width: 100%;
      }
    }
  
    .menu_part {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .menu {
        display: flex;
        gap: 30px;
  
        .link {
          text-decoration: none;
          color: #E8E8E8;
        }
  
        @media (max-width: 768px) {
          display: none; // Hide on mobile
        }
      }
  
      .call {
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
  
          img {
            margin-right: 8px;
          }
  
          span {
            color: #FFFFFF;
          }
        }
      }
  
      .menuToggle {
        display: none; // Hide toggle on desktop
  
        @media (max-width: 768px) {
          display: block; // Show toggle on mobile
          font-size: 24px;
          cursor: pointer;
        }
      }
    }
  }
  
  .menuOverlay {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(34, 55, 108, 0.95);
    width: 70%;
    height: 100%;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
  
    .closeButton {
      font-size: 24px;
      color: #E8E8E8;
      cursor: pointer;
      align-self: flex-end;
      margin-bottom: 20px;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      width: 100%;
  
      .link {
        text-decoration: none;
        color: #E8E8E8;
        padding: 15px 0;
        width: 100%;
        text-align: right;
      }
    }
  }