.cards {
    width: 100%;
    .title_part {
        width: 50%;
        margin: 0 auto;
        h2 {
            font-weight: 400;
            font-size: 48px;
            line-height: 62.4px;
            letter-spacing: -2%;
            color: #0A0A0A;
        }
        span {
            margin: 0 auto;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -2%;
            color: #636059;
        }
    }
    .cards_part {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
        .card {
            width: 386px;
            height: 170px;
            border-radius: 8px;
        }
    }
}