.about {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    .info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .text_part {
            width: 40%;
            h3 {
                font-weight: 400;
                font-size: 32px;
                line-height: 41.6px;
            }
            p {
                width: 425px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #636059;
            }
            button {
                width: 160px;
                height: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 17.36px;
                color: #FFFFFF;
                background-color: #114C93;
                border-radius: 100px;
                border: 1px solid #114C93;
                margin-top: 50px;
                cursor: pointer;
                box-shadow: 0px 5px 5px -3px #0000001A;
            }
        }

        .img_part {
            width: 538px;
            img {
                width: 100%;
                border-radius: 8px;
            }
        }
    }

    

    // Responsive styles
    @media (max-width: 1024px) {
        .info {
            .text_part {
                width: 50%; // Adjust for tablet
                p {
                    width: auto; // Allow text to take up available space
                }
            }
            .img_part {
                width: 100%; // Full width for image on smaller screens
                margin-top: 20px; // Space above the image
            }
        }
    }

    @media (max-width: 768px) {
        padding-top: 50px; // Reduce padding on smaller screens

        .info {
            flex-direction: column; // Stack elements vertically
            .text_part {
                width: 100%; // Full width for text part
                margin-bottom: 20px; // Space below text part
            }

            .img_part {
                width: 100%; // Full width for image part
            }
        }

        .team {
            .cards {
                .card {
                    width: 48%; // Adjust card width for smaller devices
                }
            }
        }
    }

    @media (max-width: 480px) {
        .team {
            .cards {
                .card {
                    width: 100%; // Full width for cards on very small screens
                    margin-bottom: 20px; // Space between cards
                }
            }
        }
    }
}