.about {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    .info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .text_part {
            width: 40%;
            h3 {
                font-weight: 400;
                font-size: 32px;
                line-height: 41.6px
            }
            p {
                width: 425px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #636059;
            }
            button {
                width: 160px;
                height: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 17.36px;
                color: #FFFFFF;
                background-color: #114C93;
                border-radius: 100px;
                border: 1px solid #114C93;
                margin-top: 50px;
                cursor: pointer;
                box-shadow: 0px 5px 5px -3px #0000001A;

            }
        }
        .img_part {
            width: 538px;
            img {
                width: 100%;
            }
        }
    }
    
    .team {
        width: 100%;
        margin-top: 40px;
        h3 {
            margin: 30px 0;
            text-align: center;
            font-weight: 400;
            font-size: 32px;
            line-height: 41.6px;
        }
        .cards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .card {
                width: 24%;
                margin: 10px 0;
                img {
                    width: 100%;
                    border-radius: 10px;
                }
                .name {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #000000;
                }
                .position {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 10px;
                    div {
                        width: 8px;
                        height: 8px;
                        background-color: #65A30D;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}