.footer {
    width: 100%;
    background-color: #22376C;
    padding: 50px 0;
    color: #E6E6E5;

    .container {
        width: 90%;
        margin: 0 auto;

        .logo_part {
            width: 417px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            img {
                width: 148px;
            }

            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #E6E6E5;
            }
        }

        .menu {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            span {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                color: #FFFFFF;
            }

            div {
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .link {
                    color: #E6E6E5;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    text-decoration: none;
                }
            }
        }

        .line {
            width: 100%;
            border-bottom: 1px solid #114C93;
            margin: 40px 0;
        }

        .past {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

// Responsive styles
@media (max-width: 768px) {
    .container {
        .logo_part {
            width: 100%;
            text-align: center;

            img {
                width: 120px;
            }

            span {
                font-size: 14px;
            }
        }

        .menu {
            flex-direction: column;
            align-items: center;

            div {
                width: 100%;
                text-align: center;

                span {
                    font-size: 16px;
                }

                .link {
                    font-size: 16px;
                }
            }
        }

        .line {
            margin: 30px 0;
        }

        .past {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    .container {
        .logo_part {
            margin: 0 auto;
            span {
                margin: 0 auto;
                width: 350px;
                font-size: 12px;
            }
        }

        .menu {
            div {
                .link {
                    font-size: 14px;
                }
            }
        }

        .past {
            font-size: 12px;
        }
    }
}