.banner {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    .text_part {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        span {
            width: 100%;
            font-weight: 400;
            font-size: 56px;
            line-height: 72.8px;
            color: #000000;
        }
        p {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #636059;
            margin-top: 10px;
        }
    }
    .banner_img {
        width: 999px;
        margin: 0 auto;
        img {
            width: 100%;
            margin-top: 50px;
        }
    }
}